@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;
    padding:0%;
    margin:0%;
}
/*****************
1.header
******************/
.header{
    background-color: #233295;
    margin:0%;
    padding:0%
}
.main-list{
    list-style: none;
}
.list-left{
    padding:15px 20px;
    float:left;
    color:white;
    text-decoration:none;
}
.list-right{
    padding:15px 20px;
    float:left;
    color:white;
    text-decoration:none;
}
.list-inline{
    color:white;
    background-color: #233295 !important;
}


